a{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    border-radius: 3px;
    transition: .4s;
    font-size: 30px;
}
.start_bottn{
    color: #3ff75d;
    border: solid 2px #3ff75d;
}
.ranking{
    color: yellow;
    border: solid 2px yellow;
}
.return_bottn{
    color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
    position: absolute;
    left: 200px;
}
li{
    list-style: none;
    margin-bottom: 40px;
}
.select{
    text-align: center;
}
h1{
    font-size: 60px;
}