<html>
    <head>
        <title>Tower Of Hanoi</title>
        <script></script>
    </head>
    <body>
        <h1 align = "center"> Tower Of HANOI</h1>
        <table align="center"><tr align="center"><td align="center">
            <table>
                <tr><td>■□□</td><td>　　　</td><td>□□□</td><td>　　　</td><td>□□□</td></tr>
                <tr><td>■■□</td><td>　　　</td><td>□□□</td><td>　　　</td><td>□□□</td></tr>
                <tr><td>■■■</td><td>　　　</td><td>□□□</td><td>　　　</td><td>□□□</td></tr>
                <tr><td><input type="button" value="take"></td><td>　　　</td><td><input type="button" value="take"></td><td>　　　</td><td><input type="button" value="take"></td></tr>
                <tr><td><input type="button" value=" put "></td><td>　　　</td><td><input type="button" value=" put "></td><td>　　　</td><td><input type="button" value=" put "></td></tr>
               </table> 
        </td></tr></table>
    </body>
</html>