<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ゲーム選択画面</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
  <main>
      <h1>ゲーム選択</h1>
        <button onclick="location.href='./HanoiTower'">HanoiTower</button>
        <button onclick="location.href='./LightsOut'">LightsOut</button>
        <button onclick="location.href='./MineSweeper'">MineSweeper</button>
  </main>
</body>
</html>