<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LightsOut_title</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='LightsOut_title.css') }}"> -->
    <link rel="stylesheet" href="../static/LightsOut_title.css">
</head>
<body>
    <div class="select">
        <h1>LightsOut</h1>
        <ul>
            <li><a href="LightsOut_play" class="start_bottn">START</a>
            <li><a href="LightsOut_play" class="score">SCORE</a>
        </ul>
    </div>
    <a onclick="history.back()" class="return_bottn">RETURN</a>
</body>
</html>