<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MineSweeper_title</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='MineSweeper_title.css') }}"> -->
    <link rel="stylesheet" href="../static/MineSweeper_title.css">
</head>
<body>
    <div class="select">
        <h1>MineSweeper</h1>
        <form action="/MineSweeper_play" method="POST">
        <ul>
            <li><a href="MineSweeper_play" class="easy_bottn">EASY 10×10 bomb15</a>
            <li><a href="MineSweeper_play_normal" class="normal_bottn">NORMAL 16×16 bomb40</a>
            <li><a href="MineSweeper_play_hard" class="hard_bottn">HARD 20×20 bomb99</a>
            <li><a href="#" class="ranking">RANKING</a>
        </ul>
        </form>
    </div>
    <a href="/" class="return_bottn">RETURN</a>
</body>
</html>